.tournament-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  p {
    margin: 0;
  }
  .grid-center {
    grid-column: 2/6;
  }

  .wide16-9 {
    aspect-ratio: 16 / 9;
  }
  .carrousel-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  }
}