.ds-area {
  position: relative;

  --screenWidth: 256px;
  --screenHeigh: 192px;  
  img {
    width: var(--screenWidth);
    height: calc(var(--screenHeigh) * 2);
  }

  .scroll-area {
    display: flex;
    flex-direction: row;
    overflow: scroll hidden;
  }
  .top-screen {
    position: absolute;
    left: 148px;
    top: 38px;
    height: var(--screenHeigh);
    width: var(--screenWidth);
    overflow: hidden;    
  }
  .bottom-screen {
    position: absolute;
    left: 148px;
    top: 325px;
    height: var(--screenHeigh);
    width: var(--screenWidth);
    overflow: hidden;    
    .bottom-screen-img-container {
      position: relative;
      width: var(--screenWidth);
      min-width: var(--screenWidth);
      height: var(--screenHeigh);
      .bottom-img {
        position: absolute;
        left: 0;
        top: calc(var(--screenHeigh) * -1);
      }
    }
    
  }
  .ds {
    width: 550px;
    height: 564px;
    position: relative;
  }
}