.ds-area {
  position: relative;
  --dsFrameWidth: 550px;
  --dsFrameHeight: 564px;
  --screenWidth: 256px;
  --screenHeigh: 192px;
  --sizeRate: 1;
  @media only screen and (max-width: 1000px) {
    --sizeRate: 0.6;
  }
  
  img {
    width: var(--screenWidth);
    height: calc(var(--screenHeigh) * 2);
  }

  .scroll-area {
    display: flex;
    flex-direction: row;
    overflow: scroll hidden;
  }
  .top-screen {
    position: absolute;
    left: calc(148px* var(--sizeRate));
    top: calc(38px* var(--sizeRate));
    height: calc(var(--screenHeigh) * var(--sizeRate));
    width: calc(var(--screenWidth) * var(--sizeRate));
    overflow: hidden;    
  }
  .bottom-screen {
    position: absolute;
    left: calc(148px* var(--sizeRate));
    top: calc(325px* var(--sizeRate));
    height: calc(var(--screenHeigh) * var(--sizeRate));
    width: calc(var(--screenWidth) * var(--sizeRate));
    overflow: hidden;    
    .bottom-screen-img-container {
      position: relative;
      width: calc(var(--screenWidth) * var(--sizeRate));
      min-width: calc(var(--screenWidth) * var(--sizeRate));
      height: calc(var(--screenHeigh) * var(--sizeRate));
      .bottom-img {
        position: absolute;
        left: 0;
        top: calc(var(--screenHeigh) * -1);
      }
    }
    
  }
  .ds {
    width: calc(var(--dsFrameWidth)* var(--sizeRate));
    height: calc(var(--dsFrameHeight)* var(--sizeRate));
    position: relative;
  }
}