.filter-bar {
  display: flex;
  flex-direction: row;  
  align-items: center;
  gap: 5px;  
  
  .filter-tag {
    border: solid 1px rgb(150, 150, 150);
    color: rgb(150, 150, 150);
    border-radius: 15px;
    padding: 5px 10px;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    transition : border 500ms linear;
    transition : color 500ms linear;
    &:hover {
      border: solid 1px rgb(70, 70, 70);
      color: rgb(70, 70, 70);
    }
  }
  .selected-tag {
    color: black;
    border-color: black;
  }
}