:root {
  --centerRenderArea: 800px;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
* {
 //background: #282c3423;
}
.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr calc(var(--centerRenderArea) * 0.7) calc(var(--centerRenderArea) * 0.3) 1fr 1fr;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.main-grid {
  grid-column: 3;
}
.secondary-grid {
  grid-column: 4;
}

.about-me-style {
  padding: 0 20px;
  background-color: #EDEDED;
}

.grid-col0 {
  grid-column-start: 0;
}

.grid-col1 {
  grid-column-start: 1;
}
.grid-col2 {
  grid-column-start: 2;
}
.grid-col3 {
  grid-column-start: 3;
}
.grid-col4 {
  grid-column-start: 4;
}
.grid-col5 {
  grid-column-start: 5;
}

.centered-in-grid {
  grid-column: 2/6;
}

.center-columns {
  grid-column: 3 / 5;
}

.col-span2 {
  grid-column-end: span 2;
}

.col-span3 {
  grid-column-end: span 3;
}

.col-span4 {
  grid-column-end: span 4;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-top: 20px;
}

.skill-list {
  @media only screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.skill-tag {
}

.mobile-padding {
  @media only screen and (max-width: 600px) {
    padding: 20px;
  }
}